{% extends "index.html.twig" %}

{% block metas %}
<meta property="og:title" content="L'urgence climatique" />
<meta property="og:image" content="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" />
<meta property="og:url" content="{{ app.url }}" />
<meta property="og:description" content="Comment passer de l'analyse à l'action?" />
<meta property="og:type" content="article" />
<meta property="fb:app_id" content="100160886777903" />
<meta name="twitter:image" content="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" /> 
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@letemps" />
<meta name="twitter:title" content="L'urgence climatique" />
<meta name="twitter:description" content="Comment passer de l'analyse à l'action?" />
<link rel="image_src" href="{{ app.base_url ~ app.base_path }}/img/share/social.jpg" />
{% endblock %}

{% block container %}
<div class="barba-container">
    <div class="c00">
        <!-- <h6>Le Temps a 20 ans </h6> -->
        <h1 class="text-color"><span class="count">00</span>L'urgence<br>climatique</h1>
        <!-- <span class="date">— (16 mars - 17 novembre)</span> -->
        <h2>Comment passer de l'analyse à l'action?</h2>
        <p class="margin2">Quelle est la part de décisions individuelles et celles qui relèvent de choix politiques? Pourquoi la complexité du défi ne doit pas nous décourager? Les réponses à apporter au défi climatique s'avèrent aussi variées que complexes.</p>
        <p class="margin1">Découvrez une série d'enquêtes sur le thème de la transition écologique aussi bien sous les angles politique, économique, scientifique, culturel ou même sportif – voir les choix à gauche.</p>
       
        <h2>Rubriques impliquées</h2> 
        <div class="spacer-md"></div>
        <div class="themelist">
            <article class="margin2 c01">
                <span class="count">01</span>
                <h5><a href="/monde" data-menu="01">Monde</a></h5> 
                <span class="date">— Dès le 19 mars</span>
            </article>
            <article class="margin1 c01">
                <span class="count">02</span>
                <h5><a href="/suisse" data-menu="02">Suisse</a></h5> 
                <span class="date">— Dès le 16 avril</span>
            </article>
            <article class="margin2 c01">
                <span class="count">03</span>
                <h5><a href="/economie" data-menu="03">Économie</a></h5> 
                <span class="date">— Dès le 21 mai</span>
            </article>
            <article class="margin1 c01">
                <span class="count">04</span>
                <h5><a href="/opinions" data-menu="04">Opinions</a></h5>
                <span class="date">— Dès le 18 juin</span>
            </article>
            <article class="margin2 c01">
                <span class="count">05</span>
                <h5><a href="/culture" data-menu="05">Culture</a></h5>
                <span class="date">— Dès le 20 août</span>
            </article>
            <article class="margin1 c01">
                <span class="count">06</span>
                <h5><a href="/sciences" data-menu="06">Sciences</a></h5>
                <span class="date">— Dès le 17 septembre</span>
            </article>
            <article class="margin2 c01">
                <span class="count">07</span>
                <h5><a href="/sport" data-menu="07">Sport</a></h5>
                <span class="date">— Dès le 15 octobre</span>
            </article>
            <article class="margin1 c01">
                <span class="count">08</span>
                <h5><a href="/societe" data-menu="08">Société</a></h5>
                <span class="date">— Dès le 17 septembre</span>
            </article>
            <article class="margin2 c01">
                <span class="count">09</span>
                <h5><a href="/hyperlien" data-menu="09">Hyperlien</a></h5>
                <span class="date">— Dès le 15 octobre</span>
            </article>
        </div>
    </div>
</div>
{% endblock %}